{% extends "mainapp/base.html" %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><h1>Добавить книгу:</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="name" name="name" type="text" required="" class="validate form-input" placeholder="Название"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="original_name" name="original_name" type="text" required="" class="validate form-input" placeholder="Оригинальное название"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="book_type" name="book_type" type="text" required="" class="validate form-input" placeholder="Тип книги"></div>
            <div class="col-4"></div>
        </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="publish_year" name="publish_year" type="text" required="" class="validate form-input" placeholder="Год публикации"></div>
            <div class="col-4"></div>
        </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="genre" name="genre" type="text" required="" class="validate form-input" placeholder="Жанр"></div>
            <div class="col-4"></div>
        </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="annotation" name="annotation" type="text" required="" class="validate form-input" placeholder="Аннотация"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-4"><input type="submit" class="form-input" value="Отправить"></div>
            <div class="col-4"></div>
        </div>
    </div>
</form>
{% endblock %}