{% extends "mainapp/base.html" %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><h1>Добавить автора:</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="name" name="name" type="text" required="" class="validate form-input" placeholder="Фамилия и имя"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="original_name" name="original_name" type="text" required="" class="validate form-input" placeholder="Фамилия и имя на оригинальном языке"></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="country" name="country" type="text" required="" class="validate form-input" placeholder="Страна"></div>
            <div class="col-4"></div>
        </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="birth_date" name="birth_date" type="text" required="" class="validate form-input" placeholder="День рождения"></div>
            <div class="col-4"></div>
        </div>
            <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="bigraphy" name="bigraphy" type="text" required="" class="validate form-input" placeholder="Биография"></div>
            <div class="col-4"></div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-4"><input type="submit" class="form-input" value="Отправить"></div>
            <div class="col-4"></div>
        </div>
    </div>
</form>

{% endblock %}