{% extends "mainapp/base.html" %}
{% block content %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="grid grid-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4"><h4>Выберите изображение</h4></div>
                <div class="col-4"><input id="image" name="image" type="file"></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-4"><input type="submit" class="form-input" value="Отправить"></div>
                <div class="col-4"></div>
            </div>
        </div>
    </form>

{% endblock %}