{% extends "mainapp/base.html" %}

{% block content %}
<a href={% url 'add_new_author' %}><input type="button" class="form-input" value="Добавить нового автора"></a>
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3"><a href={% url 'show_authors_sorted' key="name" %}><b>Имя</b></a></div>
            <div class="col-3"><a href={% url 'show_authors_sorted' key="original_name" %}><b>Оригинальное имя</b></a></div>
            <div class="col-2"><a href={% url 'show_authors_sorted' key="country" %}><b>Страна</b></a></div>
            <div class="col-2"><a href={% url 'show_authors_sorted' key="rating" %}><b>Рейтинг</b></a></div>
            <div class="col-1"></div>
        </div>
        {% for author in authors %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3"><a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a></div>
                <div class="col-3"><a href={% url 'get_author' pk=author.pk %}>{{ author.original_name }}</a></div>
                <div class="col-2">{{ author.country }}</div>
                <div class="col-2">{{ author.rating }}</div>
                <div class="col-1"></div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
