{% extends "mainapp/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/authors.css">
{% endblock %}

{% block content %}
<a href={% url 'change_author' pk=author.pk %}>Изменить данные</a>
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-3"><img src="{{ author.photo_url.url }}"/></div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3">Имя:</div>
                    <div class="col-3">Оригинальное имя:</div>
                    <div class="col-2">Страна:</div>
                    <div class="col-2">Дата рождения:</div>
                    <div class="col-2">Рейтинг:</div>
                </div>
                <div class="row">
                    <div class="col-3">{{ author.name }}</div>
                    <div class="col-3">{{ author.original_name }}</div>
                    <div class="col-2">{{ author.country }}</div>
                    <div class="col-2">{{ author.birth_date }}</div>
                    <div class="col-2">{{ author.rating }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">Биография:</div>
            <div class="col-8">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">{{ author.bigraphy }}</div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-5"><a href={% url 'add_new_book' pk=author.pk %}><input type="button" class="form-input" value="Добавить книгу"></a></div>
            <div class="col-4"><h2>Книги автора:</h2></div>
            <div class="col-3"></div>
        </div>
         <div class="row">
            <div class="col-2">Название</div>
            <div class="col-2">Оригинальное название</div>
            <div class="col-2">Тип</div>
            <div class="col-1">Год издания</div>
            <div class="col-2">Жанр</div>
            <div class="col-1">Рейтинг</div>
            <div class="col-2">Моя оценка</div>
        </div>
        {% for book in books %}
             <div class="row">
                <div class="col-2"><a href={% url 'get_book' pk=book.pk %}>{{ book.name }}</a></div>
                <div class="col-2"><a href={% url 'get_book' pk=book.pk %}>{{ book.original_name }}</a></div>
                <div class="col-2">{{ book.book_type }}</div>
                <div class="col-1">{{ book.publish_year }}</div>
                <div class="col-2">{{ book.genre }}</div>
                <div class="col-1">{{ book.rating }}</div>
                <div class="col-2">
                    <ul class="rate" id="{{book.pk}}">
                        {% for i in range %}
                            {% if book.evaluation >= i %}
                            <li class="subs_star pick" id="{{book.pk}}_{{i}}"></li>
                            {% else %}
                            <li class="subs_star" id="{{book.pk}}_{{i}}"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}