<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/siimple.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mainpage.css">
	{% block css %}

	{% endblock %}
	<script src="/static/js/jquery-2.2.1.min.js"></script>
	<script src="/static/js/main.js"></script>

	<!-- NOTIFICATIONS! -->
	<script type="text/javascript" src="/static/js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="/static/js/reconnecting-websocket.min.js"></script>
	<script type="text/javascript" src="/static/js/notifications.js"></script>

	<meta  name="keywords" content="mybooks.me">
	<meta name="description" content="mybooks.me">
	<meta http-equiv="content-language" content="ru">
	<title>MyBooks</title>
</head>

<body>
	<div class="grid grid-fluid">
		<div class="row header">
			<div class="col-3"></div>
			<div class="col-3"><a href={% url 'index' %}>MyBooks.me</a></div>
			<div class="col-1 ref_row"><a href={% url 'all_books' %}>Книги</a></div>
			<div class="col-1 ref_row"><a href={% url 'show_authors' %}>Авторы</a></div>
			<div class="col-2 ref_row"><a href={% url 'search' %}>Поиск</a></div>
			{% if user.username %}
				<div class="col-1"><a id="ajax_logout">Выход</a></div>
			{% else %}
				<div class="col-1"><a href="#win1">Войти</a></div>
			{% endif %}
		</div>
	</div>

	<div class="grid grid-fluid">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-2"><a href={% url 'my_tape' %}>Моя лента</a></div>
			<div class="col-2"><a href={% url 'subscriber_tape' %}>Друзья</a></div>
			<div class="col-2"><a href="/profile/{{ user.id }}" >Мой профиль</a></div>
			<div class="col-2"><a href="#notif"><p id="notification_label">Уведомления</p></a></div>
			<div class="col-2"></div>
		</div>
	</div>
	<hr/>

	{% if user.username %}
		<div class="content">
		{% block content %}

		{% endblock %}
		</div>


	{% else %}
	{% block login_content %}

	{% endblock %}
	{% endif %}

</body>



	<div class="grid grid-fluid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-2"><a href={% url 'chat_room' label=room.room.pk %}></a></div>
			<div class="col-2"><a></a></div>
			<div class="col-2"><a></a></div>
			<div class="col-2"><a></a></div>
			<div class="col-1"></div>
		</div>
	</div>

<!-- Модальное окно №1 -->
	<a href="#x" class="overlay" id="notif"></a>
	<div class="popup">
		<div class="grid grid-fluid">
			<h1>Ваши обсуждения:</h1>
			<div class="row">
					<div class="col-1"></div>
					<div class="col-4"><b>Обсуждение</b></div>
					<div class="col-4"><b>Книга</b></div>
					<div class="col-2" id='quantity-{{ room.room.label }}'><b>К-во увед</b></div>
					<div class="col-1"></div>
			</div>
			{% for room in rooms_notif %}
				{% for message in  messages_notif %}
					{% if room ==  message.room %}
					<div class="row">
						<div class="col-1"></div>
						<div class="col-4"><a href={% url 'chat_room' label=room.room.id_book.pk %}>{{ room.room.name }}</a></div>
						<div class="col-4"><a href={% url 'get_book' pk=room.room.id_book.pk %}>{{ room.room.id_book.name }}</a></div>
						<div class="col-2" id='quantity-{{ room.room.label }}'>{{ message.quantity }}</div>
						<div class="col-1"></div>
					</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>




	<footer>
		<div class="grid grid-fluid">
			<div class="row">
				<div class="col-5"></div>
				<div class="col-4">&copy; Alexander Smirnov, 2016 ¯\_(ツ)_/¯		( ͡° ͜ʖ ͡°)</div>
				<div class="col-3"></div>
			</div>
		</div>
	</footer>

</html>


