{% extends "mainapp/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/book.css">
{% endblock %}

{% block content %}
<a href={% url 'change_book' pk=book.pk %}><input type="button" class="form-input" value="Изменить данные"></a>
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2"><img class="cover" src="{{ book.cover_url.url }}"/></div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12 narrow">
                        <h4>{% for author in book.author.all %} <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>{% endfor %} </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 narrow">
                        <h2>{{ book.name }} </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 narrow">
                        <h5>{{ book.original_name }} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 narrow">
                        <h6>{{ book.book_type }}, {{ book.publish_year }} </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 narrow">
                        <h6>Жанр: {{ book.genre }} </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 narrow">
                        <h6>Рейтинг: {{ book.rating }} </h6>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h4>Моя оценка:</h4>
                <ul class="rate" id="{{book.pk}}">
                    {% for i in range %}
                        {% if message.evaluation >= i %}
                        <li class="star pick" id="{{book.pk}}_{{i}}"></li>
                        {% else %}
                        <li class="star" id="{{book.pk}}_{{i}}"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <hr>
                <h4>Текушая категория:</h4>
                <div id="categories">
                    {% if message.status == "1" %}
                        <div class="btn btn-color" id="{{book.pk}}_1">Читаю</div>
                    {% else %}
                        <div class="btn" id="{{book.pk}}_1">Читаю</div>
                    {% endif %}
                    {% if message.status == "2" %}
                        <div class="btn btn-color" id="{{book.pk}}_2">Прочитал</div>
                    {% else %}
                        <div class="btn" id="{{book.pk}}_2">Прочитал</div>
                    {% endif %}
                    {% if message.status == "3" %}
                        <div class="btn btn-color" id="{{book.pk}}_3">Хочу прочитать</div>
                    {% else %}
                        <div class="btn" id="{{book.pk}}_3">Хочу прочитать</div>
                    {% endif %}
                    {% if message.status == "4" %}
                        <div class="btn btn-color" id="{{book.pk}}_4">Бросил</div>
                    {% else %}
                        <div class="btn" id="{{book.pk}}_4">Бросил</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-2">Аннотация:</div>
            <div class="col-6">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">{{ book.annotation }}</div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    {% if message_from_subs %}
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><h2>Оценки друзей:</h2></div>
            <div class="col-4"></div>
        </div>
        {% for message in message_from_subs %}
            <div class="row">
                <div class="col-3"></div>
                <div class="col-2">{{ message.user_id }}</div>
                <div class="col-2">{{ message.get_status_display }}</div>
                <div class="col-2">
                    <ul class="rate">
                        {% for i in range %}
                            {% if message.evaluation >= i %}
                            <li class="subs_star pick"></li>
                            {% else %}
                            <li class="subs_star"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-3"></div>
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-5"><a href={% url 'chat_room' label=book.pk %}><input type="button" class="form-input" value="Перейти в обсуждение"></a></div>
            <div class="col-7"><h2>Обзоры:</h2></div>
        </div>
        <div class="row">
        {% for comment in comments %}
            <div class="col-4">{{ comment.user_id }}</div>
            <div class="col-4">{{ comment.add_date}}</div>
            <div class="col-4">{{ comment.comment_field }}</div>
        {% endfor %}
        </div>
    </div>

<form method="POST">{% csrf_token %}
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><h3>Добавить обзор:</h3></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input id="id_add_comment" name="comment" type="text" required="" class="validate form-input" placeholder="Ваш обзор"></div>
            <div class="col-4"></div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-4"><input type="button" class="form-input" value="Отправить" id="ajax_add_comment"></div>
            <div class="col-4"></div>
        </div>
    </div>
</form>

<a href="#win2"><input type="button" class="form-input" value="Добавить автора"></a>


    <a href="#x" class="overlay" id="win2"></a>
    <div class="popup">
        <div class="grid grid-fluid">
            <h4>Добавить еще одного автора:</h4>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <input id="id_author" name="id_author" type="text" required="" class="validate form-input" placeholder="ID автора">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7">
                    <input type="button" class="form-input" value="Добавить" id="post_another_author">
                </div>
            </div>
        </div>
                    <hr>
        <div class="grid grid-fluid">
            <h4>Введите имя автора:</h4>

            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    <input id="name_author" name="name_author" type="text" required="" class="validate form-input" placeholder="Имя автора">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7">
                    <input type="button" class="form-input" value="Найти" id="find_author">
                </div>
            </div>
        </div>
        <div class="grid grid-fluid" id="found_authors">
            <h4>Список найденных авторов:</h4>
        </div>
        <a class="close"title="Закрыть" href="#close"></a>
    </div>


{% endblock %}