{% extends "mainapp/base.html" %}

{% block content %}

    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-2"><a href={% url 'all_books_sorted' key="name" %}><b>Название</b></a></div>
            <div class="col-2"><a href={% url 'all_books_sorted' key="original_name" %}><b>Оригинальное название</b></a></div>
            <div class="col-2"><a href={% url 'all_books_sorted' key="author" %}><b>Автор</b></a></div>
            <div class="col-1"><a href={% url 'all_books_sorted' key="book_type" %}><b>Тип</b></a></div>
            <div class="col-1"><a href={% url 'all_books_sorted' key="publish_year" %}><b>Год издания</b></a></div>
            <div class="col-1"><b>Жанр</b></div>
            <div class="col-1"><a href={% url 'all_books_sorted' key="rating" %}><b>Рейтинг</b></a></div>
            <div class="col-1"><b>Моя оценка</b></div>
        </div>
        {% for book in books %}
            <div class="row">
                <div class="col-2"><a href={% url 'get_book' pk=book.pk %}>{{ book.name }}</a></div>
                <div class="col-2"><a href={% url 'get_book' pk=book.pk %}>{{ book.original_name }}</a></div>
                <div class="col-2">
                    {% for author in book.author.all %}
                        <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                    {% endfor %}
                </div>
                <div class="col-1">{{ book.book_type }}</div>
                <div class="col-1">{{ book.publish_year }}</div>
                <div class="col-1">{{ book.genre }}</div>
                <div class="col-1">{{ book.rating }}</div>
                <div class="col-2">
                    <ul class="rate">
                        {% for i in range %}
                            {% if book.evaluation >= i %}
                            <li class="subs_star pick"></li>
                            {% else %}
                            <li class="subs_star"></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}