{% extends "mainapp/base.html" %}
{% block content %}

        <!--Вход-->
    {% if user.username %}
    <span class="white-text">Добро пожаловать, {{ user.username }} !!!</span>
    {% else %}
    <div>
        <h4>Вход через сайт:</h4>
        <div>
            <input id="id_username" name="username" type="text" class="validate">
            <label>Логин</label>
        </div>
        <div>
            <input id="id_password" name="password" type="text" class="validate">
            <label>Пароль</label>
        </div>
        <div>
            <input type="button" value="Login" id="ajax_login"/>
        </div>
    </div>
    {% endif %}

    <hr>
    <hr>
    <nav>
        <div>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a id="ajax_logout">Выход</a></li>
                <li><a href="/">Вход</a></li>
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/author/add_author">Добавить нового автора</a></li>
                <li><a href="/books">Все книги</a></li>
                {% if user.username %}
                <li><a href="/user/my_tape">Моя лента</a></li>
                <li><a href="/my_books">Мои книги</a></li>
                <li><a href="/user/subscriber_tape">Юзеры, на которых я подписан</a></li>
                <li><a href="/change/profile">Изменить профиль</a></li>
                <li><a href="/profile/{{ user.id }}" >Мой профиль</a></li>
                {% endif %}
                <li><a href="/chat" >Тестовый чат</a></li>
                <li><a href="/chat/notifications" >Уведомления чата</a></li>
            </ul>
        </div>
    </nav>
            {% if user.username %}
            <span class="white-text">Добро пожаловать, {{ user.username }} !!!</span>
            {% else %}
            <span class="white-text">Вы не зарегистрированы! Пожалуйста, войдеите через соцсети или зарегистрируйтесь.</span>
            {% endif %}
    <!--Вход-->
    <div>
        <h4>Вход через сайт:</h4>
        <div>
            <input id="id_username" name="username" type="text" class="validate">
            <label>Логин</label>
        </div>
        <div>
            <input id="id_password" name="password" type="password" class="validate">
            <label>Пароль</label>
        </div>
        <div>
            <input type="button" value="Login" id="ajax_login"/>
        </div>
    </div>

{% endblock %}