{% extends "mainapp/base.html" %}
{% block login_content %}
		<div class="block-content">
				<div class="label">
						<div class="grid grid-fluid">
								<div class="row">
										<div class="col-5"></div>
										<div class="col-6"><h1>MyBooks.me</h1></div>
								</div>
								<div class="row">
										<div class="col-5"></div>
										<div class="col-6"><a href="/register"><div class="btn-outline btn-big">Регистрация</div></a></div>
								</div>

								<div class="row columns">
										<div class="col-2"></div>
										<div class="col-3">
												<h2>Функции</h2>
												<ul>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
														<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												</ul>
										</div>
										<div class="col-3">
												<h2>Возможности</h2>
												<ul>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
														<li>ЛЮЛЮЛЮЛЛЮЮЛЮЛЮ</li>
												</ul>
										</div>
										<div class="col-3">
												<h2>Преимущества</h2>
												<ul>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
														<li>ЛАЛАЛАЛАЛАЛАЛА</li>
												</ul>
										</div>
								</div>
						</div>
				</div>

		<div class="footer">
				<div class="grid grid-fluid">
						<div class="row footer_row">
								<div class="col-3"></div>
								<div class="col-4">
										<h2>О проекте</h2>
										<ul>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
										</ul>
								</div>
								<div class="col-4">
										<h2>Сообщество</h2>
										<ul>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
												<li>ЛЯЛЯЛЯЛЯЛЯЯЛЯ</li>
										</ul>
								</div>
								<div class="col-2"></div>
						</div>
				</div>
		</div>

<!-- Модальное окно №1 -->
	<a href="#x" class="overlay" id="win1"></a>
	<div class="popup">
		<div class="grid grid-fluid">
			<h2>Вход:</h2>
			<hr>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-2">ВК</div>
				<div class="col-2">FB</div>
				<div class="col-2">TW</div>
				<div class="col-2">Google</div>
				<div class="col-2"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-5">
					<input id="id_username" name="username" type="text" required="" class="validate form-input" placeholder="Login">
				</div>
				<div class="col-5">
					<input id="id_password" name="password" type="password" class="validate form-input" placeholder="Password">
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row">
				<div class="col-5"></div>
				<div class="col-7">
					<input type="submit" class="form-input" value="Login" id="ajax_login">
				</div>
			</div>
		</div>
		<a class="close"title="Закрыть" href="#close"></a>
	</div>

{% endblock %}