{% extends "mainapp/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/my_tape.css">
{% endblock %}


{% block content %}

    <div class="grid grid-fluid">
        <div class="row row_borrow">
            <div class="col-2"></div>
            <div class="col-8"><h1>Лента событий</h1></div>
            <div class="col-2"></div>
        </div>
        {% for action in actions %}
            <div class="row row_borrow">
                {% if action.request_user %}
                    <div class="col-2"></div>
                    <div class="col-2"><p>{{ action.add_date|date:"d M G:i" }}</p></div>
                    <div class="col-2"> <a href={% url 'profile' pk=action.request_user.pk %}>{{ action.request_user }}</a> </div>
                    <div class="col-2">{{ action.action }}</div>
                    <div class="col-2"><a href={% url 'profile' pk=action.action_user.pk %}>{{ action.action_user }}</a></div>
                    <div class="col-2"></div>
                {% elif action.comment_field %}
                    <div class="col-2"></div>
                    <div class="col-2"><p>{{ action.add_date|date:"d M G:i" }}</p></div>
                    <div class="col-2"> <a href={% url 'profile' pk=action.user_id.pk %}>{{ action.user_id }}</a> </div>
                    <div class="col-2"><p>add review</p></div>
                    <div class="col-2"><a href={% url 'get_book' pk=action.book_id.pk %}>{{ action.book_id }}</a></div>
                    <div class="col-2"></div>
                {% else %}
                    <div class="col-2"></div>
                    <div class="col-1"><p>{{ action.add_date|date:"d M G:i" }}</p></div>
                    <div class="col-1"><p>{{ action.get_status_display }}</p></div>
                    <div class="col-2">
                        {% for author in action.book_id.author.all %}
                            {% if not forloop.last %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a> |
                            {% else %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-2">
                        <a href={% url 'get_book' pk=action.book_id.pk %}>{{ action.book_id }}</a>
                        <p class="small">{{ action.book_id.original_name  }}</p>
                    </div>

                    <div class="col-2">
                        <ul class="rate" id="{{action.book_id.pk}}">
                            {% for i in range %}
                                {% if action.evaluation >= i %}
                                <li class="star pick" id="{{action.book_id.pk}}_{{i}}"></li>
                                {% else %}
                                <li class="star" id="{{action.book_id.pk}}_{{i}}"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-2"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}