{% extends "mainapp/base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/my_books.css">
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock %}

{% block content %}

    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-1"><h1><img class="avatar" src="{{ profile.avatar.url }}"/></h1></div>
            <div class="col-3"><h1>{{ user_account.username }}</h1></div>
            <div class="col-6">
                {{ subscribe_request_user}}
                {% if user.pk !=  user_account.pk and subscribe_action == True %}
                    <a href={% url 'subscribe' pk=user_account.pk %}><input type="button" class="form-input" value="Подписаться"></a>
                {% elif user.pk ==  user_account.pk %}
                    <a href={% url 'change_profile' %}><input type="button" class="form-input" value="Изменить профиль"></a>
                    <a href={% url 'export_books_from_profile' %}><input type="button" class="form-input" value="Экспорт оценок"></a>
                {% else %}
                    <a href={% url 'unsubscribe' pk=user_account.pk %}><input type="button" class="form-input" value="Отписаться"></a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3">Возраст: </div>
                    <div class="col-3"> {{profile.age}} </div>
                    <div class="col-3">E-mail:</div>
                    <div class="col-3">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-3">Дата регистрации:</div>
                    <div class="col-3">{{ user.date_joined }}</div>
                    <div class="col-3">Последний вход:</div>
                    <div class="col-3">{{ user.last_login }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" title="Читаю сейчас">Читаю сейчас</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Прочитал полностью">Прочитал полностью</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="Хочу прочитать">Хочу прочитать</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4" title="Перестал читать">Перестал читать</label>

        <section id="content1">
            {% for book in books_read %}
            <div class="grid grid-fluid">
                {% if not forloop.last %}
                <div class="row row_fix list">
                {% else %}
                <div class="row row_fix">
                {% endif %}
                    <div class="col-4">
                        {% for author in book.book_id.author.all %}
                            {% if not forloop.last %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a> |
                            {% else %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3">
                        <a href={% url 'get_book' pk=book.book_id.pk %}><h6>{{ book.book_id  }}</h6></a>
                        <p class="small">{{ book.book_id.original_name  }} </p>
                    </div>
                    <div class="col-5">
                        <div class="row row_fix">
                            <div class="col-4">
                                {% if user.pk ==  user_account.pk %}
                                    <ul class="rate" id="{{book.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="star pick" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% else %}
                                            <li class="star" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="rate" id="{{action.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="subs_star pick"></li>
                                            {% else %}
                                            <li class="subs_star"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.book_type  }}</h6></h6>
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.genre  }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section id="content2">
            {% for book in books_complete %}
            <div class="grid grid-fluid">
                {% if not forloop.last %}
                <div class="row row_fix list">
                {% else %}
                <div class="row row_fix">
                {% endif %}
                    <div class="col-4">
                        {% for author in book.book_id.author.all %}
                            {% if not forloop.last %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a> |
                            {% else %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3">
                        <a href={% url 'get_book' pk=book.book_id.pk %}><h6>{{ book.book_id  }}</h6></a>
                        <p class="small">{{ book.book_id.original_name  }} </p>
                    </div>
                    <div class="col-5">
                        <div class="row row_fix">
                            <div class="col-4">
                                {% if user.pk ==  user_account.pk %}
                                    <ul class="rate" id="{{book.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="star pick" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% else %}
                                            <li class="star" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="rate" id="{{action.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="subs_star pick"></li>
                                            {% else %}
                                            <li class="subs_star"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.book_type  }}</h6></h6>
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.genre  }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section id="content3">
            {% for book in books_want %}
            <div class="grid grid-fluid">
                {% if not forloop.last %}
                <div class="row row_fix list">
                {% else %}
                <div class="row row_fix">
                {% endif %}
                    <div class="col-4">
                        {% for author in book.book_id.author.all %}
                            {% if not forloop.last %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a> |
                            {% else %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3">
                        <a href={% url 'get_book' pk=book.book_id.pk %}><h6>{{ book.book_id  }}</h6></a>
                        <p class="small">{{ book.book_id.original_name  }} </p>
                    </div>
                    <div class="col-5">
                        <div class="row row_fix">
                            <div class="col-4">
                                {% if user.pk ==  user_account.pk %}
                                    <ul class="rate" id="{{book.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="star pick" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% else %}
                                            <li class="star" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="rate" id="{{action.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="subs_star pick"></li>
                                            {% else %}
                                            <li class="subs_star"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.book_type  }}</h6></h6>
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.genre  }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section id="content4">
            {% for book in books_stop %}
            <div class="grid grid-fluid">
                {% if not forloop.last %}
                <div class="row row_fix list">
                {% else %}
                <div class="row row_fix">
                {% endif %}
                    <div class="col-4">
                        {% for author in book.book_id.author.all %}
                            {% if not forloop.last %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a> |
                            {% else %}
                            <a href={% url 'get_author' pk=author.pk %}>{{ author.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3">
                        <a href={% url 'get_book' pk=book.book_id.pk %}><h6>{{ book.book_id  }}</h6></a>
                        <p class="small">{{ book.book_id.original_name  }} </p>
                    </div>
                    <div class="col-5">
                        <div class="row row_fix">
                            <div class="col-4">
                                {% if user.pk ==  user_account.pk %}
                                    <ul class="rate" id="{{book.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="star pick" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% else %}
                                            <li class="star" id="{{book.book_id.pk}}_{{i}}"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul class="rate" id="{{action.book_id.pk}}">
                                        {% for i in range %}
                                            {% if book.evaluation >= i %}
                                            <li class="subs_star pick"></li>
                                            {% else %}
                                            <li class="subs_star"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.book_type  }}</h6></h6>
                            </div>
                            <div class="col-4">
                                <h6>{{ book.book_id.genre  }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

    {% if user.pk ==  user_account.pk %}
        <div class="grid grid-fluid">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-7"><h3>Подписки:</h3></div>
            </div>
            {% if subscribe_viewed_user %}
                {% for subscribe in subscribe_viewed_user %}
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-2"><a href={% url 'profile' pk=subscribe.to_user.pk %}>{{ subscribe.to_user }}</a></div>
                    <div class="col-2">
                        {% if user.pk ==  user_account.pk %}
                        <a href={% url 'unsubscribe' pk=subscribe.to_user.id %}>Отписаться</a>
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="col-4"></div>
                </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7"><h4>Подписок нет!</h4></div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-7"><h3>Статистика:</h3></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-2">
                {% if books_read %}
                    <p>Вы читаете сейчас {{ books_read|length }} книг</p>
                {% else %}
                    <p>Вы ничего не читаете</p>
                {% endif %}
            </div>
            <div class="col-2">
                {% if books_complete %}
                   <p>Вы прочитали полностью {{ books_complete|length }} книг</p>
                {% else %}
                    <p>Вы ничего не прочитали</p>
                {% endif %}
            </div>
            <div class="col-2">
                {% if books_stop %}
                   <p>Вы перестали читать {{ books_stop|length }} книг</p>
                {% else %}
                    <p>Вы ничего не перестали читать</p>
                {% endif %}
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-7"><h3>Dashboard:</h3></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6"><div id="cal-heatmap"></div></div>
            <div class="col-3"></div>
        </div>

    </div>



{% endblock %}
