{% extends "mainapp/base.html" %}
{% block login_content %}
<!-- Регистрация -->
<div class="grid grid-fluid">
	<form method="post" action=".">{% csrf_token %}
		<div class="row">
			<div class="col-3"></div>
			<div class="col-3">
				<input id="id_username" name="username" type="text" required="" class="validate form-input" placeholder="Your login">
			</div>
			<div class="col-3">
				<input id="id_email" max_length="30" name="email" type="text" required="" class="validate form-input" placeholder="Your email">
			</div>
			<div class="col-3"></div>
		</div>

		<div class="row">
			<div class="col-3"></div>
			<div class="col-3">
				<input id="id_password1" max_length="30" name="password1" type="password" required="" class="validate form-input" placeholder="Your password">
			</div>
			<div class="col-3">
				<input id="id_password2" max_length="30" name="password2" type="password" required="" class="validate form-input" placeholder="Repeat password">
			</div>
			<div class="col-3"></div>
		</div>

		<div class="row">
			<div class="col-5"></div>
			<div class="col-7">
				<input type="submit" class="form-input" value="Register">
			</div>
		</div>
	</form>

</div>

{% endblock %}
