{% extends "mainapp/base.html" %}

{% block css %}

{% endblock %}

{% block content %}

	{% if user.username %}
		<div class="grid grid-fluid">
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4">
					<h4>Поиск по книгам и авторам</h4>
				</div>
				<div class="col-4"></div>
			</div>
		</div>
	{% endif %}


	<div class="grid grid-fluid">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<input id="search_field" name="search_field" type="text" required="" class="validate form-input" placeholder="Поиск">
			</div>
			<div class="col-4">
				<input type="button" class="form-input" value="Найти" id="search_button">
			</div>
		</div>
	</div>

<!-- Authors -->
	<div class="grid grid-fluid">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<h5>Найденные авторы</h5>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
	<div class="grid grid-fluid" id="search_authors">

	</div>

<!-- Books -->
	<div class="grid grid-fluid">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<h5>Найденные книги</h5>
			</div>
			<div class="col-4"></div>
		</div>
	</div>
	<div class="grid grid-fluid" id="search_books">

	</div>

{% endblock %}