img.cover {
  max-height: 400px;
  max-width: 300px;
}

p.small {
    margin-top: -15px;
    font-size: 12px;
}

div.narrow {
    height: 50px;
}

.btn-color {
    background-color: blue;
}

.btn {
    width: 160px;
}