div.row_borrow {
  height: 60px;
}

div.list {
  border-bottom: solid 1px #E0E0E0;*/
}

h6 {
  font-size: 16px;
}

a {
  color: gray;
  font-size: 14px;
}

p.small {
    font-size: 12px;
}

p {
  font-size: 14px;
}

