{% extends "chat/base.html" %}

{% block content %}
  <h1>Первый тестовый канал</h1>
  <p class="deck">
    Если хотите можете <a href="/">вернуться на главную страницу сайта</a>, а можете не возвращаться. ( ͡° ͜ʖ ͡°)
    ¯\_(ツ)_/¯   <a href="chat/">Главная чата</a>
  </p>
  <p>
    <a class="button button-primary" href="{% url 'new_room' %}">Запустить новый канал</a>
  </p>
  <p class="quiet">
    Можно запилить любой рандомный чат с адресом типа: <code>{{ request.scheme }}://{{ request.get_host }}/chat/любая-дрочь-какая-хочешь</code>
  </p>
{% endblock content %}