{% extends "chat/base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>Канал книги: <a href={% url 'get_book' pk=room.id_book.pk %}>{{ room.name }}</a></h1>

  {% if flag == True %}
  <a class="button button-primary" href="{% url 'join_disconnect' label=room.id_book.pk %}">Отсоединиться от канала</a>
  {% else %}
  <a class="button button-primary" href="{% url 'join_connect' label=room.id_book.pk %}">Подсоединиться к каналу</a>
  {% endif %}


  <p class="quiet">
    Любой может перейти на этот адрес и присоединиться:
    <code>{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.label }}</code>
  </p>
  <p>
    <input id="handle" type="hidden" placeholder="your-nickname" value="{{ request.user.pk }}">
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
       {% if flag == True %}
        <td>Ну давай. вякни:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Отправить</button>
        </td>
        {% else %}
        <td>Чтобы вякать вам нужно подключиться к каналу!</td>
        {% endif %}
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}